<div class="container" style="margin-top: 200px;">
    <div class="grid-wrapper grid-col-auto">
      <label for="radio-card-1" class="radio-card">
        <input type="radio" name="radio-card" id="radio-card-1" checked  routerLink="/formcompany"/>
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <img src="assets\company.jpg" alt="" />
            <h4>COMPANY</h4>
          </div>
        </div>
      </label>
      <!-- /.radio-card -->
  
      <label for="radio-card-2" class="radio-card">
        <input type="radio" name="radio-card" id="radio-card-2" />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <img src="assets\Capture d’écran 2024-03-09 142103.png" alt="" />
            <h4>INSTRUCTOR</h4>
          </div>
        </div>
      </label>
      <!-- /.radio-card -->
      
      <!-- Add another radio card here -->
      <label for="radio-card-3" class="radio-card">
        <input type="radio" name="radio-card" id="radio-card-3" />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <img src="assets/condida.jpg" alt="" />
            <h4>CONDIDATE</h4>
          </div>
        </div>
      </label>
      <!-- /.radio-card -->
    </div>
    <!-- /.grid-wrapper -->
  </div>
  <!-- /.container -->
  